body {
    background: url(images/milky-way-galaxy-with-stars-space-dust-universe_33900-3.jpeg);
}
.text {
    padding: 10px;
}
.title {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}
.obr:hover {
    transform: scale(1.1);
}
section, footer {
    width: 1000px;
    margin: auto;
    line-height: 1,5;
    background-color: #00076f;
    color: aliceblue;
    padding: 30px 30px 30px 30px;
}
header {
    width: 1000px;
    margin: auto;
    line-height: 1,5;
    background-color: #00076f;
    color: aliceblue;
    padding: 0,5px 0,5px 0,5px 0,5px;
}
.text2 img {
    float: right;
    margin: 10px;
    width: 150px;
    background-color: aliceblue;
}
.text img {
    float: left;
    margin: 10px;
    width: 150px;
}
nav {
    background-color: #00076f;
}
nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    color: aliceblue;
}
nav a:hover {
    background-color: black;
}
