body {
    background: url(images/milky-way-galaxy-with-stars-space-dust-universe_33900-3.jpeg);
}
.text {
    padding: 10px;
}
.title {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    padding: 40px 40px 50px 40px;
}
.obr:hover {
    transform: scale(1.1);
}
section, footer {
    width: 1000px;
    margin: auto;
    line-height: 1,5;
    background-color: #00076f;
    color: aliceblue;
    padding: 30px 30px 30px 30px;
    border-radius: 25px
}
header {
    width: 1000px;
    margin: auto;
    line-height: 1,5;
    background-color: #00076f;
    color: aliceblue;
    padding: 30px 30px 30px 30px;
    border-radius: 25px
}
.text2 img {
    float: right;
    margin: 10px;
    width: 150px;
    background-color: aliceblue;
}
.text img {
    float: left;
    margin: 10px;
    width: 150px;
}
nav {
    background-color: #00076f;
}
nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    color: aliceblue;
}
nav a:hover {
    background-color: black;
}
.Merkur img{
    float: right;
    margin: 10px;
    width: 150px;
}
.text5 img {
    float: right;
    margin: 10px;
    width: 150px;
}
.fotografie,.fotografie_popisky {
    display: flex;
    justify-content: center;
}
.fotografie_popisky {
    text-align: center;
    width: 150px;
    margin: 10px;
}
.fotografie img {
    box-shadow: 5px 5px 5px 0px #888888;
}
.fotografie a:hover {
    transform: scale(1.2);
}
.fotky img {
    width: 150px;
    margin: 30px;
}
.fotky {
    width: 1000px;
    margin: auto;
    line-height: 1,5;

    color: aliceblue;
    padding: 30px 30px 30px 30px;
    border-radius: 25px
}
.Merkur {
    width: 1000px;
    margin: auto;
    line-height: 1,5;
    background-color: #00076f;
    color: aliceblue;
    padding: 30px 30px 30px 30px;
}
.Merkur img {
    float: right;
    margin: auto;
    width: 150px;
}
.Chark {
    width: 1000px;
    margin: auto;
    line-height: 1,5;
    background-color: #00076f;
    color: aliceblue;
    padding: 30px 30px 30px 30px;
}
.Povrch {
    width: 1000px;
    margin: auto;
    line-height: 1,5;
    background-color: #00076f;
    color: aliceblue;
    padding: 30px 30px 30px 30px;
}
.pov img {
    float: right;
    margin: auto;
    width: 200px;
}
.text3 img {
    float: right;
    margin: 10px;
    width: 150px;

}
section img {
    float: right;
    margin: auto;
    width: 200px;
}
.text7 {
    background-color: aliceblue;
}