body {
    background: url(images/photo-1464802686167-b939a6910659.jpeg);
}
.title {
    text-align: center;
    width: 100vw;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Old Standard TT', serif;
}
.obr:hover {
    transform: scale(1.1);
}